[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/caleb/repos/javascpript-website/README.md
Type=Link
URL=file:///home/caleb/repos/javascpript-website/README.md
Icon=text-markdown
